{% extends "base.html" %} 
{% block title %}Quote History{% endblock %}

{% block content %}

<p>Quote History</p>
<style>
    table, th, td {
      border:1px solid black;
    }
    th{
        font-weight:normal;
    }
</style>
<p><table style="width:40%">
    <tr>
        <th>Client</th>
        <th>Date of Purchase</th>
        <th>Price per Gallon</th>
        <th>Type of Fuel</th>
        <th>Quantity</th>
    </tr>
    <tr>
        <th>Justin Liang</th>
        <th>1/20/2023</th>
        <th>$2.88</th>
        <th>Gas</th>
        <th>11 gallon</th>
    </tr>
    <tr>
        <th>Andrew Castro</th>
        <th>11/25/2022</th>
        <th>$3.88</th>
        <th>Gas</th>
        <th>5 gallon</th>
    </tr>
    <tr>
        <th>Cristopher Torres</th>
        <th>5/18/2020</th>
        <th>$3.88</th>
        <th>Diesel</th>
        <th>20 gallon</th>
    </tr>
    <tr>
        <th>Chuer Zhang</th>
        <th>12/28/2021</th>
        <th>$3.58</th>
        <th>Gas</th>
        <th>7 gallon</th>
    </tr>
    <tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr>
    <tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr>
    <tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr><tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr><tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr><tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr>
    
</table></p>



{% endblock %}