{% extends "base.html" %} 
{% block title %}View Users{% endblock %}

{% block content %}

<p>View Users</p>
<style>
    table, th, td {
      border:1px solid black;
    }
    th{
        font-weight:normal;
    }
</style>
<p><table style="width:60%">
    <tr>
        <th>Client</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Phone Number</th>
    </tr>
    <tr>
        <th>Justin Liang</th>
        <th>06/12/1998</th>
        <th>13542 wood creek ln</th>
        <th>Male</th>
        <th>2545478952</th>
    </tr>
    <tr>
        <th>Andrew Castro</th>
        <th>03/23/1993</th>
        <th>23541 oak lake ct</th>
        <th>Male</th>
        <th>3251452365</th>
    </tr>
    <tr>
        <th>Cristopher Torres</th>
        <th>07/02/1999</th>
        <th>3021 river green dr</th>
        <th>Male</th>
        <th>754123585</th>
    </tr>
    <tr>
        <th>Chuer Zhang</th>
        <th>11/08/1995</th>
        <th>6194 spring saca st </th>
        <th>Male</th>
        <th>2698413230</th>
    </tr>
    <tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr>
    <tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr>
    <tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr><tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr><tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr><tr>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
        <th><br></th>
    </tr>
    
</table></p>



{% endblock %}