{% extends "base.html" %} 
{% block title %}Fuel Quote{% endblock %}

{% block content %}
<form>
    <p></p>

<div>
    <label for="totalAmt">Gallons Requested:</label><br>
    <input type="number" id="totalAmt" step="any"></input>
</div>

<div>
    <label for="addy">Address:</label><br>
    <input type="text" id="addy" name="addy" readonly>
</div>

<div>
    <label for="date">Date:</label><br>
    <input type="datetime-local" id="Test_DatetimeLocal">
</div>

<div>
    <label for="sprice">Suggested Price/Gallon:</label><br>
    <input type="number" id="sprice" step="any" readonly>
</div>

<div>
    <label for="tprice">Total Cost:</label><br>
    <input type="number" id="tprice" step="any" readonly>
</div>

  </form>
{% endblock %}